<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                NFT Marketplace
            </h1>
            <p class="lead">
                A marketplace for Cryptocurrensea NFT's
            </p>
            <form action="/charge" method="POST">
                <script 
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{stripePublishableKey}}" 
                    data-amount="3000" 
                    data-name="NFT for sale"
                    data-description="Diva 024 by Nature Divas" 
                    data-image="/img/marketplace.png" 
                    data-locale="auto">
                </script>
                <script>
                    // Hide default stripe button
                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                </script>
                <button type="submit" class="btn btn-outline-dark text-white btn-lg">Purchase For $25</button>
            </form>
        </div>
        <div class="col-md-6">
            <img src="/img/NFT.jpg" alt="" class="img-fluid">
        </div>
    </div>
</section>